{{ template "layout.html" . }}

{{define "title"}}
    <title>编辑文章</title>
{{end}}
{{define "main_body"}}

    <div class="main_body" id="main_body">
        <div class="breadcrub">
            当前位置：文章管理><a href="/article/index">文章列表</a>>编辑文章
        </div>
        <div class="pannel">
            <form method="post" action="/article/edit?id={{.article.Id}}" enctype="multipart/form-data">
            <h3 class="review_title">编辑文章</h3>
                <h5 style="margin-top: 10px;text-align: center;color: red">{{if .code}}
           {{.code}}
                {{end}}</h5>
            <div class="form_group">
                <label>文章标题：</label>
                <input type="hidden" name="id" value="{{.article.Id}}">
                <input type="text" class="input_txt2" name="title" value="{{.article.Title}}">
            </div>
{{/*            <div class="form_group">*/}}
{{/*                <label>文章类型：</label>*/}}
{{/*                <select class="sel_opt" name="select">*/}}
{{/*                    {{range .types}}*/}}
{{/*                    <option>{{.TypeName}}</option>*/}}
{{/*                    {{end}}*/}}
{{/*                    <option selected="true">{{.article.ArtType.TypeName}}</option>*/}}
{{/*                </select>*/}}
{{/*            </div>*/}}
            <div class="form_group">
                <label>IPFS原文地址</label>
                <input type="text" class="input_txt2" name="ipfsaddress" value="{{.article.IpfsAddress}}}">
            </div>
{{/*            <div class="form_group">*/}}
{{/*                <label>文章内容：</label>*/}}
{{/*                <textarea class="input_multxt" name="artcontent" style="height: 100px">{{.article.ArtContent}}</textarea>*/}}
{{/*            </div>*/}}
{{/*            <div class="form_group">*/}}
{{/*                <label>上传图片：</label>*/}}
{{/*                {{if .article.ArtImg}}*/}}
{{/*                <img style="width: 200px;height: 100px" src="{{.article.ArtImg}}">*/}}
{{/*                {{end}}*/}}
{{/*                <input type="file" class="input_file"  name="artfile">*/}}
{{/*            </div>*/}}
            <div class="form_group">
                <label>产权人姓名</label>
                <input type="text" class="input_txt2" name="ownername" value="{{.article.OwnerName}}">
            </div>
            <div class="form_group">
                <label>产权人身份证号</label>
                <input type="text" class="input_txt2" name="ownercardnumber" value="{{.article.OwnerCardNumber}}">
            </div>
            <div class="form_group indent_group line_top">
                <input type="submit" value="保 存" class="confirm">
                <span>{{.errmsg}}</span>
            </div>
        </form>            
        </div>    
</div>
{{end}}